<div class="container-fluid justify-content-center" >
    <div class="col-sm-5 mx-auto">
        <p class="h3" >Cambiar Password</p>
    <form>
        <div class="form-group">
            <label for="ingresoEmail">Correo</label>
            <input [(ngModel)]="email"  type="email" name="email" [class]="claseform"  aria-describedby="emailHelp" placeholder="Ingresa tu correo" autocomplete="email">
            <small id="emailHelp" class="form-text text-muted">Tu correo no sera publicado, ni compartido.</small>
        </div>
        <p>
            Por favor ingresa tu email y presiona enviar para restablecer tu contraseña. Revisa tu correo (revisa la casilla de spam) y sigue las instrucciones.
        </p>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Enviar</button>
    </form>
    <div  *ngIf="this.mensajeEnviado"  class="my-2">
        <p>
            Se ha enviado un correo a tu email para que reestablescas tu password.
        </p>
    </div>
    </div>
    </div>
