<div class="row">
  <div class="col-sm-5 mx-auto">
    <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
      <div  *ngFor="let form_elem of formTemplate">
      <div [ngSwitch]="form_elem.type">
        <div *ngSwitchCase="'textBox'">
          <div class="form-group">
          <label for="{{form_elem.label}}">{{form_elem.label}}</label>
          <input id="{{form_elem.label}}" type="text" formControlName="{{form_elem.label}}" class="form-control"/>
        </div>
        </div>
        <div *ngSwitchCase="'number'">
          <label for="{{form_elem.label}}">{{form_elem.label}}</label>
          <input type="number" formControlName="{{form_elem.label}}" class="form-control"/>
        </div>
        <div *ngSwitchCase="'tel'">
          <div class="form-group">
          <label for="{{form_elem.label}}">{{form_elem.label}}</label>
          <input type="tel" formControlName="{{form_elem.label}}"  class="form-control"/>
        </div>
        </div>
        <div *ngSwitchCase="'select'">

          <div ngbDropdown class="d-inline-block mt-3">
            <button type="button" class="btn btn-outline-primary open" id="dropdownBasic1" ngbDropdownToggle >
              <ng-template [ngIf]=" this.labelDropDown == undefined" [ngIfElse]="Opcion">
                {{form_elem.label}}
              </ng-template>
              <ng-template #Opcion>
                {{this.labelDropDown}}
              </ng-template>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="onChangeDropDown($event)" value="{{opt}}" type="button" *ngFor="let opt of form_elem.options" ngbDropdownItem>{{opt}}</button>
            </div>
          </div>

        </div>
        <div *ngSwitchCase="'check'">
          <label for="{{form_elem.label}}">{{form_elem.label}}</label>
          <input type="checkbox" formControlName="{{form_elem.label}}" class="form-control"/>
        </div>
      </div>  
      </div >
      <div class="text-right justify-content-end">
      <input type="submit" value="Enviar" class="btn btn-primary"/>
    </div>
    </form>
  </div>
</div>
