<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto">

            <p class="h2">Administación de Facturas</p>

            <div class="text-right m-2 p-1">
                <!-- <button class="btn btn-sm btn-info">
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button> -->
                <!-- <div>
                    <select [(ngModel)]="periodo" name="periodo" id="periodo" class="form-control">
                        <option value="1">Hoy</option>
                        <option value="7">Esta semana</option>
                        <option value="15">Esta Quincena</option>
                        <option value="30">Ultimo mes</option>
                        <option value="0">Historico</option>
                    </select>

                </div> -->
            </div>
            <div>
                <table class="table">
                    <th>Fecha</th>
                    <th>Numero</th>
                    <th>Monto Descuento</th>
                    <th>Final</th>
                    <th>Id Pedido</th>
                    <tbody>
                        <tr *ngFor="let factura of listaFacturas">
                            <td>{{factura.fecha}}</td>
                            <td>{{factura.id}}</td>
                            <td>{{factura.montoDescuento |currency}}</td>
                            <td>{{factura.total - factura.montoDescuento |currency}}</td>
                            <td>{{factura.pedidoId}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" (click)="this.generarPdf(factura)">
                                    <small>
                                        Generar Pdf
                                    </small> 
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
