<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto">

            <p class="h2">Administación de Facturas</p>

            <div class="text-right m-2 p-1">
                <button class="btn btn-sm btn-info">
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button>
            </div>
            <div>
                <table class="table">
                    <th>Fecha</th>
                    <th>Numero</th>
                    <th>Monto Descuento</th>
                    <th>Final</th>
                    <th>Id Pedido</th>
                    <tbody>
                        <tr *ngFor="let factura of listaFacturas">
                            <td>{{factura.fecha}}</td>
                            <td>{{factura.numero}}</td>
                            <td>{{factura.montoDescuento}}</td>
                            <td>{{factura.total - factura.montoDescuento}}</td>
                            <td>{{factura.pedidoId}}</td>
                            <td>
                                <button class="btn btn-sm btn-success" (click)="this.generarPdf(factura)">
                                    <small>
                                        Generar Pdf
                                    </small> 
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
