<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto">

            <p class="h2">Lista de Pedidos</p>

            <div class="text-right m-2 p-1">
                <!-- <button class="btn btn-sm btn-info">
                    <i class="fas fa-plus"></i>
                    Nuevo 
                </button> -->
            </div>

            <div>
                <table class="table">

                    <th>Orden</th>
                    <th>Nª pedido</th>
                    <th>Productos</th>
                    <th>Hora finalizaciòn</th>
                    <th>Estado</th>
                    
                    <tbody>
                        <tr *ngFor="let pedido of listaPedidos; let i = index">
                            <td>{{i}}</td>
                            <td>{{pedido.numero}}</td>
                            <td>
                                <tr *ngFor="let item of pedido.listaDetalles">
                                    <td>{{item.articuloManufacturado.denominacion}}</td>
                                    <td>{{item.cantidad}}</td>
                                </tr>
                            </td>
                            <td>{{pedido.horaEstimadaFin}}</td>
                            <td>{{pedido.estado}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
