<div class="card" style="width: 15rem;">
    <!-- <img src="https://via.placeholder.com/100" class="card-img-top" alt="..." height="100px" width="100px"> -->
    <!-- <img src="{{unidad.linkImage}}" class="card-img-top" alt="..."  width="100px"> -->
    <a href="{{unidad.linkImage}}">
      <img src="{{unidad.linkImage}}.jpg" title="source: imgur.com" class="card-img-top" alt="..."  width="100px" />
    </a>
    <div class="card-body">
      <h5 class="card-title">{{unidad.denominacion}}</h5>
      <p class="card-text">{{unidad.precioVenta | currency}}</p>
      <button  class="btn btn-primary" (click)="onCarrito(unidad)">Agregar al carro</button>

<!-- lista desplegable -->
<div *ngIf="checkDataType(unidad)" class=" mt-2">

    <p>
      <a class="btn btn-sm btn-light" data-toggle="collapse" href="#collapseExample{{unidad.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
       <small>Ingredientes</small>
      </a>
    </p>
    <div class="collapse" id="collapseExample{{unidad.id}}">
      <div class="card card-body">
        <span *ngFor="let art of listaXproducto ">
          {{art}}- 
      </span>
      </div>
    </div>
    
  </div>

    </div>
</div>

  