
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto">

            <p class="h2">Lista de Pedidos</p>

            <div>
                <table class="table">
                    <th>Detalles</th>
                    <th>Hora Fin</th>
                    <th>Entrega</th>
                    <th>Total a pagar</th>
                    <th>Estado</th>
                    
                    <tbody *ngIf="this.isLoaded" >
                        <tr *ngFor="let item of this.listaPedido;let i = index">
                            <td>{{this.getDetalles(i)}}</td>
                            <td>{{item.horaEstimadaFin}}</td>
                            <td>{{this.getTipoEnvio(item.tipoEnvio)}}</td>
                            <td>$ {{this.getTotal(i)}}</td>
                            <td>{{this.getEstado(item.estado)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
    </div>
</div>