
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto">

            <p class="h2">Lista de Pedidos</p>

            <div class="text-right m-2 p-1">
                <button class="btn btn-sm btn-info">
                    <i class="fas fa-plus"></i>
                    Nuevo 
                </button>
            </div>

            <div>
                <table class="table">

                    <th *ngFor="let header of template.headers">{{header}}</th>
                    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Queso</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-link">Ver...</button>
                            </td>
                            <td *ngIf="template.eliminar">
                                <button class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
