<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto">

            <p class="h2">Administraci&oacute;n de Productos</p>

            <div class="text-right m-2 p-1">
                <button class="btn btn-sm btn-info" [routerLink]="'nuevo'" >
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button>
            </div>
            <div>
                <table class="table">
                    <th>Denominación</th>
                    <th>Detalle</th>
                    
                    <tbody>

                        <tr *ngFor="let art of listaArtManufacturados">
                            <td>{{art.denominacion}}</td>
                            <td>
                                <button [routerLink]="['editmanufacturado', art.id]" type="button" class="btn btn-sm btn-link">
                                    Ver...
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-danger">
                                    <small>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </small>
                                    <small>
                                        Eliminar
                                    </small>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
