<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto" >
            <p class="h2">Articulos</p>
            <div class="text-right m-2 p-1">
                <button class="btn btn-sm btn-info" [routerLink]="'nuevo'" >
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button>
            </div>
            <div>
                <table class="table">

                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>unidad</th>
                    <tbody>
                        <tr>
                            <td>Queso</td>
                            <td>{{this.cantidad}}</td>
                            <td>kg</td>
                            <td>
                                <button (click)="modificarStock()" class="btn btn-sm btn-danger">modificar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
