<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 mx-auto" >
            <p class="h2">Articulos</p>
            <div class="text-right m-2 p-1">
                <button class="btn btn-sm btn-info" [routerLink]="'nuevo'" >
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button>
            </div>
            <div>
                <table class="table">

                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>unidad</th>
                    <tbody>
                        <tr *ngFor="let art of listaArticulos">
                            <td>{{art.denominacion}}</td>
                            <td>{{art.stockActual}}</td>
                            <td>{{art.unidadMedida}}</td>
                            <td>
                                <button [routerLink]="['edit', art.id]" class="btn btn-sm btn-info">
                                    <small>
                                        <i class="fas fa-edit"></i>
                                    </small>
                                    <small>
                                        Ver...
                                    </small>
                                </button>
                                <button (click)="removeArticulo(art)" class="btn btn-sm btn-danger">
                                     <small>
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                    </small>
                                    <small>
                                        Eliminar
                                    </small>
                                 </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
