<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-7">
            <div>
                <p class="h2"> Carrito</p>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio unitario</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
