<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-7">
            <div>
                <p class="h2"> Carrito</p>
            </div>
            <div *ngIf="this.contenidoCarrito.length; else vacio"> <!--  -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th  scope="col">Cantidad</th>
                            <th scope="col">Precio c/u</th>
                            <th scope="col">Total</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let unidadcarrito of contenidoCarrito; let i = index'>
                            <th scope="row">{{unidadcarrito.nombre}}</th>
                            <td class="text-center" >
                                <input #inputCantidad type="number" style="max-width: 50px; " value="{{unidadcarrito.cantidad}}" (change)="getCantidad($event,i)">
                            </td>
                            <td>{{unidadcarrito.precio | currency}}</td>
                            <td>{{unidadcarrito.cantidad * unidadcarrito.precio | currency}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="quitarProducto(unidadcarrito.nombre)" >Quitar</button>
                             </td>
                        </tr>

                        <tr> <!-- precio final  -->
                            <th scope="row" colspan="3" class="text-right">Final</th>
                            <td colspan="2">{{this.precioFinal | currency}}</td>
                        </tr>
 
                    </tbody>
                </table>

                <div class="form-check d-flex justify-content-end my-3">

                    <div class="m-1 p-2">
                        <input class="form-check-input" type="radio" name="delivery" id="exampleRadios1" value="delivery" >
                        <label class="form-check-label" for="exampleRadios1">Delivery a mi domicilio</label>
                        <br>
                        <input class="form-check-input" type="radio" name="delivery" id="exampleRadios2" value="local" checked>
                        <label class="form-check-label" for="exampleRadios1"> Retiro en el local</label>
                    </div>
                    
                </div>

                <div class="text-right">
                    <button class=" btn btn-success btn-lg" (click)="realizarPedido()">Realizar Pedido</button>
                </div>
            </div>
            <ng-template #vacio>
                <p class="h5">Aun no tienes productos agregados en tu carrito </p>
            </ng-template>
        </div>
    </div>
</div>
