<div class="d-flex flex-column align-items-center fondo mt-3" style="min-height: 80vh;" >
    <div class="card col-sm-5 w-75 p-2 my-2">
        <ul>
            <li>Administrador -> email:admin@elbuensabor.com, password: 12345678 </li>
            <li>cocina -> email:cocina@elbuensabor.com, password: 12345678 </li>
            <li>usuario -> email: usuario@gmail.com, password: 12345678 </li>
        </ul>
    </div>
    <div class="card col-sm-5 w-75 p-2 my-2">
        <h5>En construccion, falta:</h5>
        <ul>
            <li>Agregar paginación en todas las listas </li>
            <li>Encriptar password en registro y login con bcrypt</li>
            <li>Reemplazar tables por divs</li>
            <li>Crear servicios especificos para cada modulo</li>
            <li>Simplificar algunos metodos (con forkjoin, mergemap, concatmap)</li>
            <li> Arreglar footer</li>
        </ul>
    </div>
</div>
