<div class="container-fluid fondo p-3 h-100">
    <div class="card col-sm-5 w-75 p-2 my-2 mx-auto">
        <ul>
            <li>Administrador -> enzo_ocv@hotmail.com, password: 12345678 </li>
            <li>cocina -> email:cocina@elbuensabor.com, password: 12345678 </li>
            <li>usuario -> email: usuario@gmail.com, password: 12345678 </li>
        </ul>
    </div>
    <div class="card col-sm-5 w-75 p-2 my-2 mx-auto">
        <h5>En construccion, falta:</h5>
        <ul>
            <li>La opcion de cambiar el password funciona pero esta desactivada, para probarla enviame un email a enzomzaocv@gmail.com</li>
            <li>Reemplazar tables por divs</li>
            <li>Simplificar algunos metodos (con forkjoin, mergemap, concatmap)</li>
        </ul>
    </div>
</div>
